h2 {
    font-family: 'Lucida Grande';
    line-height: normal;
    color: brown;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
table,th,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
  }